  <nav class='bdtly-navbar'>
    <div class='nav-els-cont d-flex justify-content-between align'>
      <div class='arrow-cont'>
        <a><i class="fa fa-arrow-left"></i></a>
      </div>
      <div class='current-page-cont'>
        <h1 class='current-page'>CATEGORIES</h1>
      </div>
      <div class='login-perm-link-cont'>
            <%= render 'layouts/navbar', class: 'login-perm-link'%>
      </div>
    </div>
  </nav>


<% if @groups.any? %>
<% @groups.each do |group| %>

    <div class='g-card-cont'>
        <div class='g-card-col-1'>
            <%= image_tag "#{group.icon}", class:'g-card-img' %>
        </div>

        <div class='g-card-col-2 d-flex flex-column'>
            <p><%= link_to group.name, group_path(group), class: 'g-card-name' %></p>
            <%# <p><%= group.created_at.strftime, class: 'g-card-date' %></p>
        </div>

        <div class='g-card-col-3'>
            <p>Total: $<%= group.expenses.sum(:amount) %> </p>
        </div>
    </div>


<% end %>

<% else %>
<p>There are no categories. Please create a new category</p>
<% end %>

<div class='create-g-btn'>
    <%= link_to 'Create New Category', new_group_path, class: 'create-cat-btn' %>
</div>
