  <nav class='bdtly-navbar'>
    <div class='nav-els-cont d-flex justify-content-between align'>
      <div class='arrow-cont'>
        <a href="/"><i class="fa fa-arrow-left arrow-link" ></i></a>
      </div>
      <div class='current-page-cont'>
        <h1 class='current-page'>DETAILS</h1>
      </div>
      <div class='login-perm-link-cont'>
            <%= render 'layouts/navbar', class: 'login-perm-link'%>
      </div>
    </div>
  </nav>


<div class='group-details-header'>


    <div class='g-details-cols'>
        <div class='det-col-1'>
            <%= image_tag "#{@group.icon}", class:'g-card-img' %>
        </div>

        <div class='det-col-2'>
            <p class='group-name-head'><%= link_to @group.name, class: 'group-name-link' %></p>
        </div>

    </div>

</div>

    <% if @group.expenses.any? %>
      <div class='g-details-cont'>
        <% @group.expenses.order(created_at: 'DESC').each do |expense| %>

            <div class='exp-card d-flex'>
                <div class='exp-card-col-1'>
                    <p class='expense-name'><%= expense.name %></p>
                    <p class='created_at'>Created at: <%= expense.created_at.strftime("%Y-%b-%d") %></p>
                </div>

                <div class='exp-card-col-2'>
                    <p class='expense-amount'>Amount: $<%= expense.amount %></p>
                </div>
            
            </div>
        <% end %>

      </div>

    <% else %>
        <p>No transaction was made in this category</p>
    <% end %>

    <div class='total-cont'>
      <p class='expense-total-amount'>Total Expenses: $<%= @group.expenses.sum(:amount) %> </p>
    </div>

    <div class='create-g-exp-btn'>
        <%= link_to 'Add expense', new_group_expense_path(@group), class: 'create-exp-btn'  %>
    </div>

