<nav class='page-nav'>
  <h3 class='page-title'>Log In</h3>
</nav>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class:'b-field' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class:'b-field' %>
  </div>



  <div class="actions">
    <%= f.submit "Log in", class: 'log-btn' %>
  </div>
<% end %>

<div class='action-links'>
<%= render "devise/shared/links" %>
</div>