<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <nav class='bdtly-navbar'>
    <div class='nav-els-cont d-flex justify-content-between align'>
      <div class='arrow-cont'>
        <a href="/"><i class="fa fa-arrow-left", ></i></a>

        
      </div>
      <div class='current-page-cont'>
        <h1 class='current-page'>LOGIN</h1>
      </div>
      <div class='login-perm-link-cont'>
  <%= f.submit "Log in", class: 'login-perm-link' %>
      </div>
    </div>
  </nav>


  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class:'b-field' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class:'b-field' %>
  </div>

  <div class="actions">
  </div>
<% end %>

<div class='action-links'>
<%= render "devise/shared/links" %>
</div>