  <nav class='bdtly-navbar'>
    <div class='nav-els-cont d-flex justify-content-between align'>
      <div class='arrow-cont'>
        <a><i class="fa fa-arrow-left"></i></a>
      </div>
      <div class='current-page-cont'>
        <h1 class='current-page'>NEW EXPENSE</h1>
      </div>
      <div class='login-perm-link-cont'>
            <%= render 'layouts/navbar', class: 'login-perm-link'%>
      </div>
    </div>
  </nav>


<%= form_with model: [@group, @group.expenses.create], class:"input-form", data: { turbo: "false" }  do |f|%>


<div class="">
  <%= f.text_field :name,required: true, class:'b-field', placeholder: "Name", id: ""%><br>
</div>


<div class="">
  <%= f.number_field :amount ,  class:'b-field' , required: true, placeholder: 'Amount',  min: 1%><br>
</div>

<%= f.submit "Create Expense", class:'create-cat-btn  create-exp-btn', data: { turbo: "false" } %>
<%end%>